{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .game-thumbnail {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 10px;
    }
    .game-info {
        text-align: center;
        margin-top: 10px;
    }
    .game-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .game-item {
        width: 180px;
        margin: 20px;
        text-align: center;
    }
    .game-date {
        font-size: 12px;
        color: gray;
    }
</style>

<div class="game-list">
    {% for game in publicGames %}
        <div class="game-item">
            <img src="{{ asset('uploads/thumbnails/' ~ game.thumbnail) }}" class="game-thumbnail" alt="{{ game.name }}">
            <div class="game-info">
                <p>{{ game.name }}</p>
                <p class="game-date">{{ game.createdAt|date('Y-m-d') }}</p>
                <p class="game-creator">Created by: {{ game.user.username }}</p> <!-- Showing who created the game -->
                <a href="{{ game.locationUrl }}" target="_blank">View Game</a>
            </div>
        </div>
    {% else %}
        <p>No games found.</p>
    {% endfor %}
</div>

{% endblock %}
