{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{app.user.username}}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/Nieuwe Game/fullGame/game/src/Controller/HomePageController.php'|file_link(0) }}">src/Controller/HomePageController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/Nieuwe Game/fullGame/game/templates/home_page/index.html.twig'|file_link(0) }}">templates/home_page/index.html.twig</a></code></li>
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
        <a href="{{ path('game_create') }}" class="btn btn-danger">game</a>
    </ul>
</div>
{% endblock %}
